rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function userData() {
      return get(
        /databases/$(database)/documents/users/$(request.auth.uid)
      ).data;
    }

    function team() {
      return signedIn()
        && exists(
          /databases/$(database)/documents/users/$(request.auth.uid)
        )
        && userData().role
          in ['team', 'admin', 'owner'];
    }

    function admin() {
      return signedIn()
        && exists(
          /databases/$(database)/documents/users/$(request.auth.uid)
        )
        && userData().role
          in ['admin', 'owner'];
    }


    match /products/{productId} {

      allow read:
        if true;

      allow create, update, delete:
        if team();

    }


    match /shops/{shopId} {

      allow read:
        if true;

      allow create, update, delete:
        if team();

    }


    match /banner/{bannerId} {

      allow read:
        if true;

      allow create, update, delete:
        if team();

    }


    match /orders/{orderId} {

      allow create:
        if signedIn()
        && request.resource.data.userId
          == request.auth.uid;

      allow read:
        if team()
        ||
        (
          signedIn()
          &&
          resource.data.userId
            == request.auth.uid
        );

      allow update:
        if team();

      allow delete:
        if admin();

    }


    match /attendance/{attendanceId} {

      allow create:
        if signedIn()
        && request.resource.data.uid
          == request.auth.uid;

      allow read:
        if team();

      allow update, delete:
        if admin();

    }


    match /users/{uid} {

      allow read:
        if signedIn()
        &&
        (
          request.auth.uid == uid
          ||
          team()
        );

      allow create, update, delete:
        if admin();

    }

  }

}