rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    // =================================================
    // USERS
    // =================================================

    match /users/{userId} {

      allow read, write:
        if request.auth != null
        && request.auth.uid == userId;

    }

    // =================================================
    // PRODUCTS
    // =================================================

    match /products/{productId} {

      // Customer can view products.
      allow read:
        if true;

      // Team/admin can manage products.
      allow create, update, delete:
        if request.auth != null;
    }

    // =================================================
    // SHOPS
    // =================================================

    match /shops/{shopId} {

      allow read:
        if true;

      allow create, update, delete:
        if request.auth != null;
    }

    // =================================================
    // BANNERS
    // =================================================

    match /banner/{bannerId} {

      allow read:
        if true;

      allow create, update, delete:
        if request.auth != null;
    }

    // =================================================
    // ORDERS
    // =================================================

    match /orders/{orderId} {

      // Logged-in customer can create order.
      allow create:
        if request.auth != null;

      // Logged-in users can read/manage orders.
      allow read, update:
        if request.auth != null;

      allow delete:
        if request.auth != null;
    }

    // =================================================
    // DEFAULT DENY
    // =================================================

    match /{document=**} {

      allow read, write:
        if false;
    }

  }

}